@model FinalProjectDemo.Models.Product.MoboFinal

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>MoboFinal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RyansPrice" class="control-label"></label>
                <input asp-for="RyansPrice" class="form-control" />
                <span asp-validation-for="RyansPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StarPrice" class="control-label"></label>
                <input asp-for="StarPrice" class="form-control" />
                <span asp-validation-for="StarPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StarLink" class="control-label"></label>
                <input asp-for="StarLink" class="form-control" />
                <span asp-validation-for="StarLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RyansLink" class="control-label"></label>
                <input asp-for="RyansLink" class="form-control" />
                <span asp-validation-for="RyansLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PicLink" class="control-label"></label>
                <input asp-for="PicLink" class="form-control" />
                <span asp-validation-for="PicLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
