@{
    ViewData["Title"] = "Contact";
}
<h5>@ViewData["Title"] Us</h5>


<address>
    Saif Kamal Chowdhury<br />
    Taslima Akber Keya<br />
    <abbr title="Phone">P:</abbr>
    +8801723753954
</address>

<address>
    <strong>Support:</strong> <a href="mailto:easypcbuy@gmial.com">easypcbuy@gmail.com </a><br />
   
</address>
