
@{
    ViewData["Title"] = "EmailConfirmationSent";
}

<h4>Confirmation Mail Sent</h4>
<div>
    <p>
        A confirmation link has been sent to your provided email address.<br>
        Please click the link to complete registration!
    </p>
</div>
